#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}
#myCarousel img{
    height: 300px;
    margin-top: 35px;
}
body{
    text-align: center;
    background-color: aqua;
}